USE [master]
GO
/****** Object:  Database [WebApplication5]    Script Date: 10.04.2019 11:55:38 ******/
CREATE DATABASE [WebApplication5]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebApplication5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebApplication5]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10.04.2019 11:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[SecondName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
