@{
    ViewData["Title"] = "About this Graduation Demo project";
}
<h2>@ViewData["Title"]</h2>
<br />
<br />
<h2>Enviroment visualisation</h2>
<br />
<br />
<div align="center"><img src="~/images/Environment_Diagram.png" alt="Environment Diagram" /></div>
<br />
<br />
<p>This application is intended to demonstrate the capabilities of the Azure DevOps And Azure Cloud Capabilities and its advantages to deploy 
    applications to Kubernetes Cluster over classic virtual machines or other cloud or bare metal services.</p>



