@{
    ViewData["Title"] = "Contact with APP Developers Team:";
}
<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <td>
            <h3>Yurii Ivanisenko</h3>
            <img src="~/images/portrait.png" alt="Yurii Ivanisenko" />
                <br />
                <br />
                <address>
                    <strong>
                        Ukraine<br />
                        Dnipro, DP 49106<br />
                        <abbr title="Phone">Call:</abbr>
                        +38.098.869.3941
                    </strong>
                </address>
                <br />
                <address>
                    <strong>Email:<br /></strong><a href="mailto:primero.tag@gmail.com">Primero.tag@gmail.com</a><br />
                </address>
        </td>
        <td width="30">
            <br />
            </td>
        <td>
            <h3>Andrey Velichkowsky</h3>
            <img src="~/images/portrait_2.png" alt="Andrey Velichkowsky" />
                <br />
                <br />
                <address>
                    <strong>
                        Ukraine<br />
                        Dnipro, DP 49000<br />
                        <abbr title="Phone">Call:</abbr>
                        +38.093.574.6605
                    </strong>
                </address>
                <br />
                <address>
                    <strong>Email:<br /></strong><a href="mailto:Velichkovsky.andrey@gmail.com">Velichkovsky.andrey@gmail.com</a><br />
                </address>
        </td>
        </tr>
    </table>

